extends layout

block content
    h1 #{title}: 

    br
    
    if category_boardgames.length
  
        p #[strong Delete the following boardgames before attempting to delete this category.]
  
        div(style='margin-left:20px;margin-top:20px')

            h4 Boardgames
    
            dl
            each boardgame in category_boardgames
                dt 
                a(href=boardgame.url) #{boardgame.name}
                dd #{boardgame.description}

    else
        p Do you really want to delete this Category?
    
        form(method='POST' action='')
            div.form-group
            input#categoryid(type='hidden',name='id', required='true', value=category._id )

            button.btn.btn-primary(type='submit') Delete