extends layout

block content
  h1  #{name}
  
  p #[strong Description:] #{description}
  p #[strong Category:] #{category.name}
  p #[strong Price:] #{price}
  p #[strong Quantity Available:] #{stock}

  hr
  p
    a(href=url+'/delete') Delete Boardgame